.contenedor {
  width: 900px;
  margin: 0 auto;
}

#seccionInicial .logo {
  width: 60px;
  height: 40px;
}
#seccionInicial .titulo {
  color: #fcb425;
  font-size: 3em;
  text-align: center;
}
#seccionInicial p.descripcionEmpresa {
  color: #1a1a1a;
  font-size: 1em;font-family: sans-serif;
}

#seccionContenido .contenedorTabs {
  width: 100%;
  color: white;
  font-size: 1.5em;
  border-bottom: #fcb425 solid 1px;
}
.contenedorTabs li {
  list-style: none;
  display: inline-block;
}
.tab {
  color: white;
  background-color: #fcb425;
  border-radius: 5%;
  padding: 10px;
  width: 100px;
}
.divImg, .divTexto {
  display: inline-block;
}
.fooComida{
  width: 300px;
  height: 200px;
}
.divTexto {
  position: absolute;
  padding-left: 36px;
}
.divTexto h3 {
  font-size: 2em;
  font-family: verdana;
}
